{{define "title"}}{{.document.Name}}{{end}}
{{define "scripts"}}
<script src="/static/vendor/summernote/dist/summernote.js"></script>
<script src="/static/vendor/leaps/leapclient.js"></script>
<script src="/static/vendor/leaps/leap-bind-summernote.js"></script>
<script>
$(function () {
    App.setPage("document");
    App.init();

    var client = new leap_client();
    client.bind_summernote($(".summernote"));

    client.on("connect", function() {
        client.join_document("{{.ctx.User.GetIDEncoded}}", "auth_token", "{{.document.LeafID}}");
    });

    client.connect("ws://" + window.location.hostname + ":8001/socket");

});
</script>
{{end}}
{{define "content"}}
<div id="wrapper" style="margin-right:180px;">
    {{template "alerts" .}}
    <div class="modal fade" id="PreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <h4 class="modal-title">Modal title</h4>
                    <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                </div>
                <div class="modal-body iframe-holder">
                    <iframe height="500" width="100%"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel email-compose">
                    <div class="panel-heading hbuilt">
                        <div class="p-xs h4">
                        {{.document.Name}}
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <div class="summernote">{{.document.Content}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <span class="pull-right">
        Example text
    </span>
    Company 2015-2020
</footer>
<aside class="menu menu-right">
    <div id="navigation">
        <ul class="nav side-menu" id="right-menu">
            <li>
                <a href="#"><span class="nav-label">Authors</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="#">Author 1</a></li>
                    <li><a href="#">Author 2</a></li>
                    <li><a href="#">Author 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="nav-label">Related</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="#">Example 1</a></li>
                    <li><a href="#">Example 2</a></li>
                    <li><a href="#">Example 3</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="nav-label">Sources</span><span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="#">External source 1</a></li>
                    <li><a href="#">External source 2</a></li>
                    <li><a href="#">External source 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
{{end}}
