{{define "title"}}Campaign View{{end}}
{{define "scripts"}}
<script>
$(function () {
    App.setPage("campaign");
    App.init();
});
</script>
{{end}}
{{define "content"}}
<div class="modal fade" id="PreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title">Modal title</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>
            <div class="modal-body iframe-holder">
                <iframe height="500" width="100%"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-8">
            <div class="font-bold m-b-sm">
                Project details
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <div class="pull-right">
                        <button class="btn btn-success btn-xs">  Active</button>
                        <button class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> Edit</button>
                    </div>
                    <h2 class="m-t-none">{{.campaign.Name}} </h2>
                    <small>
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                        spring which I enjoy with my whole heart.
                        I am alone, and feel the charm of existence in this spot, which was created for the bliss of
                        souls like mine.
                    </small>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                    	<label class="col-sm-2 control-label">Key Words</label>
	                    <div class="col-sm-8">
	                    	<input id="ListingsKeywords" type="text" value="{{.campaign.KeyWords}}" class="form-control"> 
	                    	<span class="help-block m-b-none">A comma-separated list of words that will be used to search for your product.</span>
	                    </div>
	                    <button href="/campaigns/{{.campaign.GetIDEncoded}}/listings" id="ListingsLoad" class="col-sm-2 btn btn-primary">Load</button>
	                </div>
	                <br/>
	                <div class="lightBoxGallery" id="ListingsGallery">
	                	{{range $listing := .campaign.Neutral}}
	                		<a data-title="{{$listing.Title}}" href="{{$listing.URL}}"><img src="{{$listing.Thumbnail}}"></a>
	                	{{end}}
	                </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="font-bold m-b-sm">
                Project statistics
            </div>
            <div class="hpanel stats">
                <div class="panel-body">
                    <div>
                        <i class="pe-7s-cash fa-4x"></i>
                        <h1 class="m-xs text-success">$1 208,20</h1>
                    </div>
                    <p>
                        <strong>Existence of spring</strong> and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
                    </p>
                        <div class="row">
                            <div class="col-xs-6">
                                <small class="stat-label">Today</small>
                                <h4>$170,20 <i class="fa fa-level-up text-success"></i></h4>
                            </div>
                            <div class="col-xs-6">
                                <small class="stat-label">Last week</small>
                                <h4>$580,90 <i class="fa fa-level-up text-success"></i></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <small class="stat-label">Today</small>
                                <h4>$620,20 <i class="fa fa-level-up text-success"></i></h4>
                            </div>
                            <div class="col-xs-6" >
                                <small class="stat-label">Last week</small>
                                <h4>$140,70 <i class="fa fa-level-up text-success"></i></h4>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="font-bold m-b-sm">
                Project participants
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="hpanel">
                        <div class="panel-body text-center">
                            <img alt="logo" class="img-circle img-small" src="/static/images/a1.jpg">
                            <div class="m-t-sm">
                                <strong>Mark Newon</strong>
                                <p class="small">UI Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="hpanel">
                        <div class="panel-body text-center">
                            <img alt="logo" class="img-circle img-small" src="/static/images/a2.jpg">
                            <div class="m-t-sm">
                                <strong>Anna Smith</strong>
                                <p class="small">JS Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="hpanel">
                        <div class="panel-body text-center">
                            <img alt="logo" class="img-circle img-small" src="/static/images/a3.jpg">
                            <div class="m-t-sm">
                                <strong>John Smith</strong>
                                <p class="small">CEO X company</p>
                            </div>
                        </div>
                    </div>
                    <div class="hpanel">
                        <div class="panel-body text-center">
                            <img alt="logo" class="img-circle img-small" src="/static/images/a1.jpg">
                            <div class="m-t-sm">
                                <strong>Max Simson</strong>
                                <p class="small">UI Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="hpanel">
                        <div class="panel-body text-center">
                            <img alt="logo" class="img-circle img-small" src="/static/images/a4.jpg">
                            <div class="m-t-sm">
                                <strong>Anna Novak</strong>
                                <p class="small">UX Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="hpanel">
                        <div class="panel-body text-center">
                            <img alt="logo" class="img-circle img-small" src="/static/images/a5.jpg">
                            <div class="m-t-sm">
                                <strong>Michael Smith</strong>
                                <p class="small">JAVA Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="hpanel">
                        <div class="panel-body text-center">
                            <img alt="logo" class="img-circle img-small" src="/static/images/a6.jpg">
                            <div class="m-t-sm">
                                <strong>Max Simson</strong>
                                <p class="small">UI Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="hpanel">
                        <div class="panel-body text-center">
                            <img alt="logo" class="img-circle img-small" src="/static/images/a7.jpg">
                            <div class="m-t-sm">
                                <strong>John Smith</strong>
                                <p class="small">CEO X company</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{{end}}